doctype html
html(ng-app="scalculus")
	head 
		title Jade Template Base
		link(rel="stylesheet", type="text/css", href="/views/css/style.css")
	body
		div
			h1 Insert Oauth Module here
		div 
			h1 Insert Grid System HEre
		div 
			h1 Insert Function system Here
		div 
			h1 Insert status bar here

		script(src="/node_modules/angular/angular.min.js")
		script(src="/views/js/script.js")
			
