doctype html
html(ng-app="scalculus", ng-cloak)
	head 
		title sCalculus
		link(rel="stylesheet", type="text/css", href="/views/css/style.css")
	body(ng-controller="sCalCtrl")
		div
			h1 Auth Module
			h2 Subscribe
			input(type="text",ng-model="userName", placeholder="Pseudo")
			input(type="password",ng-model="userPwd", ng-keyup="passwordConfirm($event)", placeholder="Password")
			input(type="password",ng-model="vuserPwd", placeholder="Enter Password Again")
			input(type="submit", ng-if="passConf && userPwd == vuserPwd", ng-click="subscribe()")
			span(ng-show="register_loading") Loading...
			span(ng-if="stateSub") {{stateSub}}

			h2 Log In
			input(type="text", ng-model="logUser", placeholder="Pseudo")
			input(type="password", ng-model="logPwd", placeholder="Password")
			input(type="submit", ng-click="login()")
			span(ng-show="Login_loading") Loading...
			span(ng-if="loginStatus && logUser && logPwd") {{loginStatus}}
			
			h2 Disconnect
			span(ng-show('user_log')) {{user_log}}
			br 
			span(ng-show('user_id')) {{user_id}}
			br 
			button(ng-click="disconnect()") Disconnect
		div
			h1 Status Bar 
			div#status
				p status
		div 
			h1 Grid System
			span(ng-show="grid_alert") {{grid_alert}}
			br 
			span(id="current_coord") {{current_coor}}
			span(id="coord") {{coord}} 
			div(ng-keydown="shortcuts($event)")#sCalculus
		div 
			h1 Functions
			h2 Basic Functions
			div#functions
				button(ng-click="gridLoad()") Refresh
				button(ng-click="gridSave()") Save
				button(id="select_btn", ng-click="gridSelect()") Select 
				button(id="select_paste", ng-show="coord", ng-click="gridSelectPaste()") Paste
				button Add
				button Substract
				button Multiply
				button Divide
			h2 Custom Functions 
			div#custom_function
				button log

		script(src="/node_modules/angular/angular.min.js")
		script(src="/views/js/script.js")
		script(src="/views/js/cookieManager.js")
		script(src="/views/js/login.js")
		script(src="/views/js/subscribe.js")
		script(src="/views/js/gridManager.js")
