[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  	display: none !important;
}
body{
	padding-top: 55px;
	padding-bottom :55px;
}
.selected{
	border-top: 1px solid #009d4e;
}
.select_mode{
	border-bottom: 5px solid #009d4e;
}
#sCalculus{
	width: 100%;
	overflow:scroll;
	white-space: nowrap;
}
#sCalculus.box{
	display:inline;
}
#sCalculus .box.disable{
	background-color: grey;
	color: white;
	text-align: center;
}
#sCalculus .box.reduce{
	width: 25px;
}
#sCalculus textarea{
	resize: none;
}
.btn_active{
	background-color:black;
	color: white;
}
.e_syntax{
	color : red;
}
.navtool{
	background-color: white;
	border: 0;
}
/*modif Bootstrap*/
.navbar {
	margin-bottom :0px;
}
#select_btn .btn-default:active{
	background-color:black;
	color:white;
}
