* {
  background-color: #fff;
}
.selected{
	border-top: 1px solid #009d4e;
}
.select_mode{
	border-bottom: 5px solid #009d4e;
}
#sCalculus{
	width: 100%;
	overflow:scroll;
	white-space: nowrap;
}
#sCalculus.box{
	display:inline;
}
#sCalculus .box.disable{
	background-color: grey;
	color: white;
	text-align: center;
}
#sCalculus .box.reduce{
	width: 25px;
}
#sCalculus textarea{
	resize: none;
}
.btn_active{
	background-color:black;
	color: white;
}
